@import '../../index.css';

.footer {
  background: var(--clr-extra-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a { 
  color: inherit;
  text-decoration: none;
}

.email-link {
  font-weight: var(--fw-bld);
}
.email-link:hover,
.social-list-link:hover{
  opacity:.7;
}

.email-link:hover {
  text-decoration: underline;
}

.social-contact-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list-item {
  margin: 0 .5em;
}

.social-list-link {
  padding: .5 em
}